
.background-film{
    background: url(./../img/background/avanger.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    min-height: 100vh;
}